<link rel="stylesheet" href="../../styles/style.css">

<div class="registerForm">
    <header>Регистрация</header>
    <input placeholder="Имя" type="text">
    <input placeholder="Фамилия" type="text">
    <input placeholder="Логин" type="text">
    <input placeholder="Email" type="text">
    <input placeholder="Пароль"  type="password">
    <input placeholder="Телефон"  type="number">
    {{>button/button  onClick="../../pages/chat/chatList.hbs" header="Зарегистрироваться"}}
</div>
