<link rel="stylesheet" href="../../styles/style.css">

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Регистрация</title>
</head>
<body class="containerRegister">
<div class="registerForm">
    <h1 class="title">Регистрация</h1>
    <div>
        <label class="required"></label>
        <input class="input" placeholder="Имя" type="text">
    </div>
    <div>
        <label class="required"></label>
        <input class="input" placeholder="Фамилия" type="text">
    </div>
    <div>
        <label class="required"></label>
        <input class="input" placeholder="Логин" type="text">
    </div>
    <div>
        <label class="required"></label>
        <input class="input" placeholder="Email" type="text">
    </div>
    <div>
        <label class="required"></label>
        <input class="input" placeholder="Пароль"  type="password">
    </div>
    <div>
        <input class="input" placeholder="Телефон"  type="number">
    </div>
    <div>
        <span class="requiredDescription"> - обязательные поля</span>
    </div>
    {{>button/button  onClick="../../pages/chat/chatList.hbs" header="Зарегистрироваться"}}
    <a href="../login/login.hbs">Уже есть аккаунт?</a>
</div>

</body>
</html>
