<link rel="stylesheet" href="../../styles/style.css">

<div class="chat">
    <div class="dialog">
        <a href="../userSettings/userSettings.hbs">Настройки пользователя</a>
        <h3>Your messages:</h3>
      <div class="message">Hi!How are you?</div>
      <div class="message">I'm going to academy</div>
      <div class="message">What about you?</div>
    </div>
    <div class="messengers">
        <header class="header">
            <h1>Alex Voronoy</h1>
            <div class="sendMessage">
                <input type="text" value="">
                <button>Отправить сообщение</button>
            </div>
        </header>
    </div>
</div>
