@import "../pages/login/login.pcss";
@import "../pages/register/register.pcss";
@import "../pages/chat/chatList.pcss";
@import "../pages/userSettings/userSettings.pcss";
@import "../partials/button/button.pcss";
@import "../pages/404/404.pcss";
@import "../pages/5**/5**.pcss";

html {
    font-family: 'Inter', cursive;

}
.container {
    display: flex;
    justify-content: center;
    align-content: center;
}
