{{!< mobile}}
<ul>
    <li>
        <a href="main.hbs">Main Page</a>
    </li>
    <li>
        <a href="login/login.hbs">Авторизоваться</a>
    </li>
    <li>
        <a href="register/register.hbs">Зарегистрироваться</a>
    </li>
</ul>
