<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Not found</title>
    <link rel="stylesheet" href="../../styles/style.css">
</head>
<body class="containerNotFound">
<div>
    <h1>Ошибка 404.</h1>
    <h3>Вы ошиблись адресом!</h3>
    {{ components/button/button  onClick="../../pages/chat/chatList.hbs" header="Вернуться назад"}}
</div>
</body>
</html>
